/**************************/
/**************************/
/*  CONTAINER LOGIN FORM  */
/**************************/
/**************************/

#idformwrapper{
  display:          flex;
  flex-direction:   ltr;
  border:           1px solid red;
  height:           346px;
  width:            478px;
}

#idformwrapperauxiliar{
  display:          flex;
  justify-content:  space-between;
  margin-left:      64px;
  margin-top:       64px;
  flex-direction:   column;
  height:           calc(100% - 2*64px);
  width:            calc(100% - 2*64px);
  border:           3px solid yellow;
}


/*  EMAIL  */
#emailinput{
  margin:           0px;
  padding:          0px;
  height:           auto;
  width:            100%;
}


/*  PASSWORD  */
#passwordinput{
  margin:           0px;
  padding:          0px;
  height:           auto;
  width:            100%;
}


/*  BUTTONS  */

#buttonsdiv{
  display:          flex;
  flex-direction:   ltr;
  justify-content:  space-between;
  width:            100%;
}

#createaccountbutton{
  width:            auto;
}

#loginbutton{
  width:            auto;
}



/*  TEXTO - LABELS  */
.textoreloginform{
  color:            grey;
}