/*							*/
/*		GLOBAL CONTAINER	*/
/*							*/

.container {
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

/*					*/
/*		TOP BAR		*/
/*					*/

.navbar {
  position: fixed;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  flex-direction: ltr;
  justify-content: space-between;
  height: auto;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}

/* LOGO - top bar */
.logowrapper {
  width: 11em;
  display: flex;
}

#logonav {
  display: block;

  padding: 0px;

  margin-left: 2em;
}

/* SEARCH BAR  - top bar */
.navbarsearch {
  margin: 1em;
  background-color: #eeeeee;
  height: 2.5em;
  width: 35%;
  /*max-width: 32.5em; */
  display: flex;
  flex-direction: ltr;
  align-items: center;
  border-radius: 0.25em;
  box-shadow: inset 2px 2px 2px rgba(157, 157, 157, 0.25);
}

.searchbarwrapper {
  background-color: transparent;
  height: auto;
  border: none;
  width: calc(100% - 5em);
}

.navbarsearch input[type="text"] {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: #91a59b;
}

.Lupa_image_wrapper {
  height: auto;
  width: 2em;
  right: 0;
}

.lupaimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* BUTTONS - top bar*/

.but_nav_wrapper {
  float: right;
  display: flex;
  height: auto;
  right: 0;
  margin-right: 1.5em;
  align-items: center;
}

.nav_icon {
  margin: 0.8em;
  display: block;
}
.textnav {
  font-family: "Rubik", sans-serif;
  margin-left: 2em;
  color: #4f4f4f;
  margin-right: -0.5em;
}

.nav_icon:hover {
  cursor: pointer;
}
.nav_icon:hover #world {
  fill: #009245;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}
.nav_icon:hover #bell {
  fill: #009245;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}
.nav_icon:hover #navmessage {
  fill: #009245;
  box-shadow: 4px 2px 4px rgba(134, 134, 134, 0.25);
}

/*						*/
/*		MAIN BODY		*/
/*						*/

#childcontainer {
  display: flex;
  width: 100%;
  height: calc(100% - 80px); /* subtract the top bar height */
}

#leftbar {
  width: 20%;
  display: flex;
  background-color: #f2f8f0;
  flex-direction: column;
}
#leftbarauxiliar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.leftverticalbaroptions {
  display: flex;
  flex-direction: ltr;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
}

h1.leftbaroptionactive {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}

h1.leftbaroptionnotactive {
  margin: 0px;
  padding: 0px;
  font-size: 80%;
}

#leftbarIcon {
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

img.user-image {
  width: 60%;
  margin: auto;
  border-radius: 100%;
  margin-top: 3em;
}

div.name-container {
  font-family: "Rubik", sans-serif;
  width: 80%;
  margin: auto;
  margin-top: 0;
}

div.icons-container {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}

div.numbers-container {
  width: 80%;
  margin: auto;
  font-family: "Rubik", sans-serif;
}

div.options-container {
  width: 80%;
  margin: auto;
}

div.option-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: "Rubik", sans-serif;
}

#feed {
  margin-top: 100px;
  justify-content: space-around;
  display: flex;
  flex-direction: ltr;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border: 2px solid green;
}

.feedBox {
  max-width: 50%;
  border: 1px solid red;
  margin-top: 20px;

  width: 312px;
  height: 217px;
}

.imageOnFeedBlock {
  display: block;
  max-width: 100%;
}
